
.fb{
    background-color: blue;
    color: white;
}
.tw{
    background-color: aqua;
}
.wp{
    background-color: greenyellow;
}
.mail{
    background-color: darkred;
    color: white;
}
.print{
    background-color: gray;
}
/* Primer imagen del main */
.main img{
    width: 400px;
}